/* Logo CSS */

body .logo_container {
	text-align: center;
	border: 0;
	margin-bottom: 0;
}


.image_logo {
	height: 100px;
	margin: 15px;
}


/* Form Title CSS*/
.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}


textarea { 
   /* will prevent resizing */
   resize: none;
}

.container {
	width: 752px;
	border: 1px solid black;
	margin-bottom: 80px;
}
.container .formHeader {
	text-transform: uppercase;
	font-size: 1em;
}



.header {
	background-color: #BABDBF;
	text-transform: uppercase;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.tag {
	background-color: #D9D9D9;
	height: 30px;
	margin: 0;
	padding-left: 5px;
	padding-right: 0px;
}

.info {
	background-color: #D9D9D9;
	padding-bottom: 0px;
}
.info>p {
	background-color: #D9D9D9;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tag>p {
	background-color: #D9D9D9;
	margin-top: 5px;
}

.tagCB {
	background-color: #D9D9D9;
	margin-top: 0px;
}

.container .row .text>p {
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

.inputFill  {
	height: 30px;
	width: 100%;
}

.row .input {
	padding: 0;
}

.container .col-xs-2 .col-xs-4 .col-xs-12 {
	height: 40px;
	vertical-align: center;
}

.button_row {
	padding: 0;
}

.print_button {
	width: 100%;
	background-color: #4E916C;
	border: 0;
	border-top: 1px solid black;
}

.print_button:hover {
	width: 100%;
	background-color: #74B78C;
	border: 0;
	border-top: 1px solid black;
}


select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.row .checkbox>label {
	margin-right: 10px;
}

.no-top-margin {
	margin: 0;
	padding-top: 4px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}